
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      line-height: 1.6;
      color: #333;
      background-image:url("../images/download.jpeg"); 
      background-repeat: no-repeat; /* Prevent tiling */
      background-size: cover; /* Cover the entire body */
      background-position: center;
      
    }
    header {
      background: #b16c6c;
      color: #fff;
      padding: 1rem 0;
      text-align: center;
    }
    .heading_section{
        display: flex;
        padding: 10px;
        justify-content: center;
    }
    .heading_title{
        padding-right: 80px;
    }
    nav {
      padding: 10px;
      margin: 1.4rem 0;
    }
    nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #fff;
    }
    nav a:hover{
        cursor: pointer;
        color: aqua;
        font-weight: bold;
    }
    .heading_container {
      display: flex;
      max-width: 1200px;
      margin: 10px;
      padding: 5px 20px;
    }
    #about_self{
        padding-left: 5px;
    }
    .about_heading{
        display: flex;
        padding-left: 10px;
        /* justify-content: center; */
    }
    #my_img{
        width: 350px;
        height: 350px;
        padding-left: 60px;
        border-radius: 5px;
        border-color: rgb(211, 27, 52);
    }
    .sojib_img{
        height: 350px;
        width: 350px;
        border-radius: 50px;
        object-fit: cover;
        border: 5px;
        border-color: rgb(115, 39, 190);
        
    }
    section {
      margin: 2rem 0;
    }
    .main_text{
        margin: auto;
        padding-left: 650px;
    }
    .projects img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
    .our_projects{
        display: flex;
        justify-content: center;
    }
    footer {
      background: #333;
      color: #fff;
      text-align: center;
      padding: 1rem 0;
      position: relative;
    }
